.clients {
    padding-top: 60px;
    padding-bottom: 60px;
}

.clients__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 30px;
}

.clients__group {
    padding: 0;
    margin: 0;
    @include display-center();
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.clients__item {
outline: 1px solid var(--social-networks-color);
border-radius: 4px;
margin-left: 30px;
margin-top: 30px;
@media screen and (max-width: 479px) {
    flex-basis: calc(100%/2 - 30px);
    }
@media screen and (min-width: 480px) {
        width: 210px;
        height: 92px;
    }
@media screen and (min-width: 768px) {
      width: 226px;
      height: 92px;
  }
@media screen and (min-width: 1200px) {
      width: 170px;
      height: 92px;
  }
}

.clients__link {
width: 100%;
height: 100%;
padding: 15px 0;
color: var(--social-networks-color);
@include display-center();
&:hover,
&:focus {
     color: var(--accent-color)
        }
}

.clients__icon {
    fill: currentColor
}
