 .header--border-bottom {
     border-bottom: 1px solid var(--header-stroke-color);
  }

 .header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
 }



/* logo */
 /* site-nav */
 .header__nav {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   margin-top: 0;
   margin-bottom: 0;
   margin-left: 88px;
   padding-left: 0;
   & .header__link {
      display: block;
      padding: 32px 0;
    }
   & .header__nav-item+.header__nav-item {
       margin-left: 50px;
    }

  @media screen and (max-width: 767px) {
      display: none;
    }
  @media screen and (min-width: 1200px) {
      margin-left: 93px;
    }
 }

.header__link {
  position: relative;
  &:hover,
  &:focus {
  color: var(--accent-color);
    }
}

 .header__link--current::after {
   content: '';
   position: absolute;
   left: 0;
   bottom: -1px;
   display: block;
   width: 100%;
   height: 4px;
   border-radius: 2px;
   background-color: var(--accent-color);
 }
 
 /* contacts */
 .header__contact {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: var(--title-text-color);
   &:hover,
   &:focus {
   color: var(--accent-color);
      }
  @media screen and (max-width: 768px) {
      font-size: 12px;
    }
 }

 .header {
  .list {
  @media screen and (min-width: 768px) {
        display: flex;
      }
  }
 }

 .header__contact-item + .header__contact-item {
  @media screen and (min-width: 1200px) {
      margin-left: 30px;
    }
 }

 .header__contact {
  @include display-center();
   padding: 5px 0;
  @media screen and (min-width: 1200px) {
      padding: 32px 0;
    }
 }

 .header__contacts {
 
   margin-top: 0;
   margin-bottom: 0;
   margin-left: auto;
   padding-left: 0;
  @media screen and (max-width: 767px) {
      display: none;
    }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
 }

 .header__icon {
   margin-right: 10px;
   fill: currentColor;
  @media screen and (max-width: 1199px) {
      margin-right: 8px;
    }
 }