.team {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
        }
    &--bg {
        background-color: var(--secondary-bgc);
    }
}

.team__header {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
    @media screen and(min-width:1200px) {
            font-size: 36px;
        }
}

.team__list {
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
    }
}
.team__list--margin-top {
    @media screen and(max-width:767px) {
        margin-top: 30px;
        }
    @media screen and(min-width:1200px) {
        margin-top: 50px;
 }
}

.team__member {
    background-color: var(--primary-background-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-align: center;
    padding-bottom: 24px;
    @media screen and (max-width:767px) {
    &:not(:first-child) {
            margin-top: 30px;
        }
    }
    @media screen and (min-width:768px) {
        width: 354px;
        margin-left: 30px;
        margin-top: 30px;
    }
    @media screen and (min-width:1200px) {
        width: 270px;
        margin-left: 30px;
        margin-top: 0;
         }
}

.team__member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 0;
}

.team__member-position {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-top: 10px;
    margin-bottom: 0;
}

.members-contacts {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 206px;
      height: 44px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 16px;
}
.members-contacts__item {
    width: 44px;
    height: 44px;
}

.members-contacts__link {
    color: var(--social-networks-color);
    background-color: var(--primary-background-color);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    @include display-center();
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: var(--accent-color);
    color: var(--primary-background-color)
        }
}

.members-contacts__icon {
    width: 20px;
    height: 20px;
    fill: currentColor
}